<div class="restaurant-detail">
  <div #gmap id="restaurant-map">

  </div>

  <div *ngIf="restaurant">
    <div class="restaurant-header">
      <h1>{{restaurant.name}}</h1>
      <h2>{{restaurant.category}}</h2>
    </div>

    <ul class="restaurant-address">
      <li>{{restaurant.location.formattedAddress[0]}}</li>
      <li>{{restaurant.location.formattedAddress[1]}}</li>
    </ul>

    <div class="restaurant-contact" *ngIf="restaurant.contact">
      <p *ngIf="restaurant.contact.formattedPhone">{{restaurant.contact.formattedPhone}}</p>
      <p *ngIf="restaurant.contact.twitter"><a href="https://twitter.com/{{restaurant.contact.twitter}}" target="_blank">@{{restaurant.contact.twitter}}</a></p>
    </div>
  </div>
</div>
