/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';

$link-color: #2a2a2a;


body {
  padding-top: 57px;
  color: #2A2A2A;
  font-size: 16px;
  font-family: "Avenir Next"
}

a:link,
a:visited,
a:hover,
a:active {
  color: $link-color;
}

h1 {
  font-weight: 600;
}
